.wrap {
    display: flex;
    display: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    touch-action: none;
    .back {
		position: absolute;
        top: 0;
        z-index: -101;
		display: flex;
		width: 100vw;
        height: 30%;
		padding: 0px;
		overflow: hidden;
        img {
            width: 100%;
            height: 30;
            object-fit: cover;
        }
    }

    .content{
        width: 1320px;
        .boardTitle {
            display: flex;
            width: 100%;
            height: 50px;
            padding: 40px 0px;
            align-items: center;
            justify-content: space-between;
            p { float: left;
                margin-left: 25%;
                color: white;
                font-size: 20px;
            }
        .searchInput {
            width: 23%;
            height: 40px;
            float: right;
            position: relative;
            input {
                border-radius: 2px;
                background: #fff;
                border: none;
                width: 100%;
                height: 100%;
                font-size: 14px;
                padding: 12px 62px 11px 12px;
                box-sizing: border-box;
            }
                .searchButton {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 25%;
                    height: 71%;
                    margin-top: 5px;
                    margin-right: 6px;
                    background: #ff5000;
                    border-radius: 5px;
                    text-decoration: none;
                    color: #fff;
                    border: none;
                    cursor: pointer;

                }
            }
    
        }
        
        .inner {
            position: relative;
            display: flex;
            width: 100%;
            background-color:transparent;
            justify-content: space-between;        

                .sidebar {
                    position: relative;
                    justify-content: space-between;
                    flex-direction: column;
                    background-color: transparent;
                    width: 22%;
                    height: 700px;
                    float: left;
                    .mypage {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                        padding: 20px;
                        width: 100%;
                        height: 200px;
                        justify-content: space-between;
                        background-color:white;
                        border: solid 1px rgba(0, 0, 0, 0.2);
                        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
                        font-size: 15px;
                        .postCountButton {
                            float: right; 
                            height: 30%;
                            padding: 10px 20px; 
                            border-radius: 5px; 
                            text-decoration: none; 
                            background: #ff5000;
                            color: #fff;
                            border: none;
                            cursor: pointer;
                        }
                   }
            
                .menu {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    width: 100%;
                    height: 66%;
                    background-color:white;
                    border: solid 1px rgba(0, 0, 0, 0.2);
                    box-shadow: 5px 5px 5px 5px  rgba(0, 0, 0, 0.05);
                    .menuTitle {
                        padding-bottom: 10px;
                    }
                    .menuList {
                        padding: 10px;
                        border-bottom: solid 1px #ebeef1;
                    }
                }
                
            }
            .article-list {
                background-color: white;
                // padding: 20px 40px 20px 40px;
                border: solid 1px rgba(0, 0, 0, 0.2);
                float: right;
                width: 76%;
                margin-right: 0;
                box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
                .boardRead{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    padding: 20px;
                    word-break:break-all;
                    .listItem {
                        display: flex;
                        position: relative;
                        width: 100%;
                        min-height: 69.6px;
                        box-sizing: border-box;
                        border-bottom: solid 1px #ebeef1;
    
                        padding: 0;
                        a {
                            flex-direction: row;
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            align-items: center;
                            font-size:15px;
                            &:hover {
                                background-color: rgba(0, 0, 0, 0.05);
                            }
    
                            .title {
                                margin-left:40px;
                                width: 65%;
                                
                            }
                            .name {
                                margin-left:40px;
                                width: 15%;
                                text-align: left;
                            }
                            .createAt {
                                margin-right:40px;
    
                                width: 20%;
                                text-align: right;
    
                            }
    
                        }
    
       
                    }
                    .boardComment {
                        padding: 24px;
                        width: 100%;
                        .boardCommentTitle {
                            width: 100%;
                                position: relative;
                                margin-top: 48px;
                                padding-bottom: 10px;
                                border-bottom: solid 1.1px #ebeef1;
                                font-size: 18px;
                                font-weight: 600;
                                color: #333;
                                float: left;
                        }

                            .commnetListItem{
                                width: 100%;
                                justify-content: space-between;
                                align-items: center;
                                font-size:15px;
                                display: flex;
                                position: relative;
                                width: 100%;
                                min-height: 69.6px;
                                box-sizing: border-box;
                                border-bottom: solid 1px #ebeef1;
                                padding: 0;
                                .title {
                                    margin-left:40px;
                                    width: 65%;
                                    
                                }
                                .name {
                                    margin-left:40px;
                                    width: 15%;
                                    text-align: left;
                                }
                                .createAt {
                                    margin-right:40px;
        
                                    width: 20%;
                                    text-align: right;
        
                                }

                            }

    
                        
                        .boardSubmit {
                            display: flex;
                            width: 100%;
                            float: right;
                            position: relative;
                            .comment {
                                margin-top: 10px;
                                width: 90%;
                                padding: 16px;
                                border-radius: 4px;
                                border: 1px solid #ddd;
                                background: #fff;
                                color: #333;
                                font-size: 14px;
                                line-height: 18px;
                            }
                                .commentBtn {
                                    width: 10%;
                                    font-weight: 400;
                                    margin-top: 10px;
                                    margin-left: 6px;
                                    background: #979797;
                                    border-radius: 5px;
                                    text-decoration: none;
                                    color: #fff;
                                    border: none;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: grey;
                                    }
                
                                }
                            }
                    }
                    .boardHeader {
                        padding-top: 10px;
                        padding-left: 24px;
                        padding-right: 24px;
                        border-bottom: solid 1.1px #ebeef1;
                        .boardReadTitle {
                            line-height: 36px;
                            font-size: 24px;
                            color: #1e2022;
                            white-space: pre-wrap;                            
                            margin-top:15px;
                            word-break: break-all;
                            overflow: auto;

                        }
                        .boardReadTitleSub {
                            display: flex;
                            margin-top: 9px;
                            line-height: 17px;
                            font-size: 14px;
                            color: #7b858e;
                            .boardName {
                                display: inline-block;
                                line-height: 18px;
                                font-size: 14px;
                                color: #98a0a7;
                            }
                            .createdAt {
                                display: inline-block;
                                position: relative;
                                margin-left: 8px;
                                padding-left: 9px;
                                border-left: 1px solid #dddfe4;
                            }
                        }
                        .boardReadTitleBtn{
                            margin:10px 0px 20px 0px;
                            .delButton {
                                line-height: 15px;
                                font-size: 12px;
                                padding: 8px 15px 7px;
                                border-color: #ff2216;
                                background: #fff;
                                color: #ff2216;
                                border: solid 1px;
                                border-radius: 5px;
                                cursor: pointer;

                                &:hover {
                                    background-color: #ff2216;
                                    color: white;
                                }
                            }
                            .putButton {
                                line-height: 15px;
                                font-size: 12px;
                                padding: 8px 15px 7px;
                                border-color: rgb(196, 196, 196);
                                background: #fff;
                                color: rgb(48, 48, 48);
                                border-radius: 5px;
                                margin-left: 10px;
                                border: solid 1px;
                                cursor: pointer;
                                &:hover {
                                    background-color: rgb(196, 196, 196);
                                    color: white;
                                }

                            }
                        }
                    }
                    .boardReadContent{
                        padding: 24px;
                        height: 100%;     
                        color: #333;
                        line-height: 160%;

                        
                     }
                }
                .boardCreate{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px;

                    .boardCreateHeader {
                        height: 100%;
                        font-size: 20px;
                        width: 100%;
                        color: #1e2022;
                        font-weight: 700;
                        padding: 24px;
                        border-bottom: solid 1.1px #ebeef1;
                    
                    }
                    .boardCreateInput{
                        display:flex;
                        flex-direction: column;
                        padding: 24px 24px 0px 24px;                        width: 100%;
                        .boarCreateTitle {
                            width: 100%;
                            padding: 0 16px;
                            height: 40px;
                            border-radius: 4px;
                            border: 1px solid #ddd;
                            background: #fff;
                            color: #333;
                            font-size: 14px;
                            line-height: 18px;
                        }
                        .boardCreateContent{
                            margin-top: 10px;
                            width: 100%;
                            padding: 16px;
                            height: 400px;
                            border-radius: 4px;
                            border: 1px solid #ddd;
                            background: #fff;
                            color: #333;
                            font-size: 14px;
                            line-height: 18px;
                        }
                        .boardWriteBtn {
                            margin-top: 17px;
                            text-align: center;
                            .boardWriteBtnLeft {
                                line-height:20px;
                                font-size: 12px;
                                padding: 8px 30px 7px;
                                border: solid 1px grey;
                                background: #ffffff;
                                color: grey;
                                border-radius: 5px;
                                cursor: pointer;
                                margin-right: 10px;
                                &:hover {
                                    background-color: #8f8f8f;
                                    color: white;
                                }
                            }
                            .boardWriteBtnRight {
                                line-height:20px;
                                font-size: 12px;
                                padding: 8px 20px 7px;
                                background: #ff5000;
                                color: white;
                                border-radius: 5px;
                                border: solid 1px;
                                cursor: pointer;
                                margin-right: 10px;
                                &:hover {
                                    background-color:#ff5000;
                                    color: white;
                                }
                            }
                        }
                    }
                }
    
                .listItem {
                    display: flex;
                    position: relative;
                    width: 100%;
                    min-height: 69.6px;
                    box-sizing: border-box;
                    border-bottom: solid 1px #ebeef1;
                    padding: 0;
                    a {
                        flex-direction: row;
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        font-size:15px;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.05);
                        }

                        .title {
                            margin-left:40px;
                            width: 65%;
                            
                        }
                        .name {
                            margin-left:40px;
                            width: 15%;
                            text-align: left;
                        }
                        .createAt {
                            margin-right:40px;

                            width: 20%;
                            text-align: right;

                        }

                    }

   
                }
            }
    
        }
    } 
    .bottomBtm{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .writeButton {
            width: 100%;
            border: none;
            padding: 20px 0px;
            background-color: transparent;
            a {
                float: right; 
                padding: 10px 20px; 
                border-radius: 5px; 
                text-decoration: none; 
                background: #ff5000;
                color: #fff;

            }
        }
        .pagination {
            float: left;
            display: flex;
            margin-left: 58%;
            .pageBtn {
                font-size: 15px;
                width: 100%;
                border: none;
                border-top: 1px solid #eee; 
                padding: 20px 0px;
                background-color: transparent;
                padding-right: 15px;
                cursor: pointer;
            }
        }
    }
}