.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81vh;
    width: 100vw;
    background-color: #f3f5f7;
  .container-view {
      width: 50vw;
      height: 60vh;
      background-color: #ffffff;
      border-radius: 15px;
    .container-view_box {
        margin: 50px;
        height: 100%;
      .container-view_title {
          font-weight: 400;
          font-size: 25px;
          line-height: 1px;
      }
      .edit-table {
          margin-top: 60px;
          display: table;
          width: 100%;
          table-layout: fixed;
          border-top: 1px solid #e9edef;
        .edit_tr {
            display: table-row;
          .edit_th {
              display: table-cell;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              line-height: 1.5;
              border-bottom: 1px solid #e9edef;
              text-align: left;
              color: #52595f;
              width: 184px;
              background-color: #f8f9fa;
              border-right: 1px solid #e9edef;
              height: 32px;
              padding: 15px 10px 8px 16px;
              vertical-align: top;
          }
          .edit_td {
              padding: 8px 10px 8px 16px;
              vertical-align: middle;
              display: table-cell;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              line-height: 1.5;
              border-bottom: 1px solid #e9edef;
              text-align: left;
              color: #52595f;
            .edit-nickname-btn {
                height: 25px;
                width: 50px;
                float: right;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
      .mypageBtn {
        display: flex;
        float: right;
        margin-top:10px;

        .edit-btn {
        //   display: inline-block;
        padding: 7px 15px 7px 15px;
        margin-right: 10px;
        line-height: 15px;
        font-size: 12px;
        border: solid 1px #c4c4c4;
        background: #fff;
        color: grey;
        border-radius: 5px;
        cursor: pointer;
            &:hover {
              cursor: pointer;
              transition: 0.3s;
              background-color: #c4c4c4;
              color: white;

          }
         }
        .save-btn {
          padding: 7px 15px 7px 15px;
          border: none;
          line-height: 15px;
          font-size: 12px;
          border: solid 1px #c4c4c4;
          background: #fff;
          color: grey;
          border-radius: 5px;
          cursor: pointer;
              &:hover {
                cursor: pointer;
                transition: 0.3s;
                background-color: #c4c4c4;
                color: white;

          }
        }
      }
      .user-delete_title {
          margin-top: 70px;
          font-weight: 400;
          font-size: 25px;
          line-height: 1px;
      }
      .user-delete_sub {
          margin-top: 52px;
          padding: 25px;
          background-color: #f3f5f7;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: #52595f;
          margin-bottom: 32px;
          word-break: keep-all;
      }
      .container-checkbox {
          margin-top: 24px;
          position: relative;
        input {
            position: absolute;
            width: 20px;
            height: 20px;
            border: 1px solid #999;
            cursor: pointer;
            transition: 0.2s;
        }
        .checkbox-sub {
            margin: 0;
            display: block;
            padding-left: 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
      }
      .user-delete-btn {
          padding: 7px 15px 7px 15px;
          margin-top: 20px;
          line-height: 15px;
          font-size: 12px;
          border-color: #ff2216;
          background: #fff;
          color: #ff2216;
          border: solid 1px;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: #ff2216;
            transition: 0.3s;
            cursor: pointer;
            color: white;
            
        }
      }
    }
  }
}

.edit-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .edit-modal_backdrop {
      width: 100%;
      height: 100%;
      background-color: #f3f5f7;
      display: flex;
      justify-content: center;
      align-items: center;
    .edit-modal_view {
        width: 50%;
        height: 40%;
        background-color: white;
        border-radius: 10px;
        .hide {
          display: none;
        }
        .edit-modal_body {
          margin: 50px;
          .edit-table {
            margin-top: 60px;
            display: table;
            width: 100%;
            table-layout: fixed;
            border-top: 1px solid #e9edef;
          .edit_tr {
            display: table-row;
          .edit_th {
              display: table-cell;
              font-weight: 400;
              font-size: 15px;
              line-height: 19px;
              line-height: 1.5;
              border-bottom: 1px solid #e9edef;
              text-align: left;
              color: #52595f;
              width: 184px;
              background-color: #f8f9fa;
              border-right: 1px solid #e9edef;
              height: 32px;
              padding: 15px 10px 8px 16px;
              vertical-align: middle;
            }
          .edit_td {
              padding: 8px 10px 8px 16px;
              vertical-align: middle;
              display: table-cell;
              font-weight: 400;
              font-size: 16x;
              line-height: 19px;
              line-height: 1.5;
              border-bottom: 1px solid #e9edef;
              text-align: left;
              color: #52595f;
              .edit-user-info {
                margin-top: 5px;
                border: 1px solid #e9edef;
                width: 200px;
                height: 30px;
                font-size: 14px;
                font-weight: 400;
                padding-left: 10px;
              }
            .edit-nickname-btn {
                height: 25px;
                width: 50px;
                float: right;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .password-invalid-message {
            margin-top: 10px;
            font-size: 15px;
            color: red;
          }
          .password-check-message {
            margin-top: 10px;
            font-size: 15px;
            color: red;
          }
          .nickname-invalid-message {
            margin-top: 10px;
            font-size: 15px;
            color: red;
          }
        }
      }
      .modalBtn {
        display: flex;
        float: right;
        margin-top:10px;

        .cancel-btn {
        //   display: inline-block;
        padding: 7px 15px 7px 15px;
        margin-right: 10px;
        line-height: 15px;
        font-size: 12px;
        border: solid 1px #c4c4c4;
        background: #fff;
        color: grey;
        border-radius: 5px;
        cursor: pointer;
            &:hover {
              cursor: pointer;
              transition: 0.3s;
              background-color: #c4c4c4;
              color: white;
        }
         }
        .save-btn {
          padding: 7px 15px 7px 15px;
          line-height: 15px;
          font-size: 12px;
          border: solid 1px #c4c4c4;
          background: #fff;
          color: grey;
          border-radius: 5px;
          cursor: pointer;
              &:hover {
                cursor: pointer;
                transition: 0.3s;
                background-color: #c4c4c4;
                color: white;

          }
        }
    }
  }
  }
}
}