// 반응형 셋팅
$xl: 1439px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px; 

@import "header";
@import "footer";
@import "set";
@import "main";
<<<<<<< HEAD
@import "signup";
@import "login";
=======
>>>>>>> 8c0793a0b6dd9fb0945195af8f9e82aab2b9dde0
